<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <div class="indent">
        <img class="portrait" src="/img/me.png">
        <br>
        <br>
        <br>
        <hr>
        <br>
        <br>
        <br>
        <h2>About the site</h2>
        <br>
        <p>This site's data is collected from mapbox.com and weatherstack.com</p>
        <p>This site was made with help from Andrew Mead's course on Udemy. Next plan is to create a <strong>resume.</strong> </p>

        </div>
    </div>
    
    {{>footer}}
</body>

</html>