<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="helpBod">
    <div class="main-content">
        {{>header}}
        <div class="indent">
        <p>{{helpText}}</p>
        </div>
    </div>
    
    {{>footer}}
</body>

</html>